<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>List Items</title>
</head>
<body>
    <h1>Hello World VM!</h1>
    <ul>
		#foreach( $item in ${list} )
		    <li>$item.title</li>
		#end
    </ul>
</body>
</html>